<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <div class="container-fluid">
            <h2 class="text-center fw-bold my-5">Change Your Password</h2>
            <div class="my-3"><%- include('./partials/message.ejs') %></div>
            <form autocomplete="on" action="/change_password/<%= user._id %>" method="POST" class="text form-control">
                <div class="mb-3">
                    <label for="" class="form-label">Old Password</label>
                    <input type="password"  name="oPassword" class="form-control" placeholder="Old Password" required />
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">New Password</label>
                    <input type="password" name="nPassword" class="form-control" placeholder="New Password" autocomplete="new-password" required />
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Confirm Password</label>
                    <input type="password" name="cPassword" class="form-control" placeholder="Confirm Password" autocomplete="new-password" required />
                </div>
                <div class="mb-3">
                    <button href="" class="form-control btn btn-success" type="submit">Change Password</button>
                </div>
            </form>
        </div>

        <%- include("./partials/footer.ejs")%>
    </body>
</html>
