<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <div class="container-fluid">
            <h2 class="text-center fw-bold">Sign in Here</h2>
            <div class="text-center" style="margin: 2em 0 1em 0">
                <button type="button" class="btn btn-outline-primary mx-1">Google</button>
                <button type="button" class="btn btn-outline-warning mx-1">GitHub</button>
                <button type="button" class="btn btn-outline-success mx-1">Facebook</button>
            </div>
            <h6 class="text-center my-4">OR</h6>
            <%- include('./partials/message.ejs') %>
            <form action="/login" method="post" class="text form-control">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input
                        type="email"
                        name="email"
                        class="form-control"
                        placeholder="name@gmail.com"
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input
                        type="password"
                        name="password"
                        class="form-control"
                        placeholder="Enter your password"
                        required
                    />
                </div>
                <div class="mb-3">
                    <button class="form-control btn btn-primary" type="submit">
                        SIGN IN
                    </button>
                </div>
            </form>
            <div class="text-center mt-4">
                <h6 class="text-center">Don't have an account?</h6>
                <a href="/register" class="btn btn-outline-primary mt-2">Creat Account</a>
            </div>
        </div>

        <%- include("./partials/footer.ejs")%>
    </body>
</html>
